{% extends "@KilikTable/_defaultTable.html.twig" %}
{% block tableBodyStdColumns %}
    <td class="text-right">
        {% if row.object.performer and userId == row.object.performer.id or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('issue_edit', {'id': row.object.id}) }}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <a href="{{ path('issue_show', {'id': row.object.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
    </td>
    {{ parent() }}
{% endblock tableBodyStdColumns %}