{% extends 'base.html.twig' %}

{% block title %}Система управления заявками - Редактирование заявки{% endblock %}

{% block body %}
    <div>
        <a href="{{ path("homepage") }}"><span class="glyphicon glyphicon-home"></span> Реестр заявок</a>
    </div>

    <h1>Редактирование заявки № {{ issue.id }}</h1>

    {{ include('issue/_form.html.twig') }}

    <div>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('issue/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}