{% extends 'base.html.twig' %}

{% block title %}Issue index{% endblock %}

{% block body %}
    <h1>Issue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Name</th>
                <th>Short_description</th>
                <th>Full_description</th>
                <th>Result</th>
                <th>Create_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.status }}</td>
                <td>{{ issue.name }}</td>
                <td>{{ issue.short_description }}</td>
                <td>{{ issue.full_description }}</td>
                <td>{{ issue.result }}</td>
                <td>{{ issue.create_date ? issue.create_date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('issue_show', {'id': issue.id}) }}">show</a>
                    <a href="{{ path('issue_edit', {'id': issue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('create-issue') }}">Create new</a>
{% endblock %}