{% extends 'base.html.twig' %}

{% block title %}Система управления заявками - Реестр заявок{% endblock %}

{% block body %}

    {% embed "@KilikTable/_defaultTable.html.twig" with {"table": table} %}
        {% block tableTitle %}
            <b>Реестр заявок</b>
            <div class="navbar navbar-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("audit") }}">Журнал изменения статусов</a>&#160;&#160;&#160;
                {% endif %}
                {{ app.user.userfio }} <a href="{{ path("fos_user_security_logout") }}"><span class="glyphicon glyphicon-log-out"></span> Выйти&#160;</a>
            </div>
            <div class="col-lg-12 col-md-6">
                Мои незавершенные заявки
                {{ form_widget(table.formView.i_performer,{"attr": {"class": "refreshOnChange"} }) }}
            </div>
        {% endblock tableTitle %}

        {% block tableHeadStdColumns %}
            <th>
                &nbsp;
            </th>
            {{ parent() }}
        {% endblock tableHeadStdColumns %}

        {% block tableHeadStdFilters %}
            <td>
                &nbsp;
            </td>
            {{ parent() }}
        {% endblock tableHeadStdFilters %}

        {% block tableBodyStdColumns %}
            {% embed "issue/_list.html.twig"%}
            {% endembed %}
        {% endblock tableBodyStdColumns %}
        {% block tableStats %}
            <a href="{{ path("create-issue") }}"><span class="glyphicon glyphicon-plus"></span> Создать заявку </a>
        {% endblock %}
    {% endembed %}

{% endblock body %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}");
            table.init();
        });
    </script>

{% endblock javascript %}