{% extends 'base.html.twig' %}

{% block title %}Система управления заявками - Создать заявку{% endblock %}

{% block body %}
    <h1>Создание заявки</h1>

    {{ include('issue/_form.html.twig') }}

    <a href="{{ path('homepage') }}">back to list</a>
{% endblock %}