{% extends 'base.html.twig' %}

{% block title %}Система управления заявками - Просмотр заявки{% endblock %}

{% block body %}
    <div>
        <a href="{{ path("homepage") }}"><span class="glyphicon glyphicon-home"></span> Реестр заявок</a>
    </div>

    <h1>Заявка № {{ issue.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th style="min-width: 15em">Название</th>
                <td>{{ issue.name }}</td>
            </tr>
            <tr>
                <th>Исполнитель</th>
                <td>
                    {% if issue.performer %}
                        {{ issue.performer.userfio }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Создатель</th>
                <td>{{ issue.creator.userfio }}</td>
            </tr>
            <tr>
                <th>Дата создания</th>
                <td>{{ issue.createDate ? issue.createDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Текущий статус</th>
                <td>{{ issue.statusName }}</td>
            </tr>
            <tr>
                <th>Подробное описание</th>
                <td>{{ issue.fullDescription }}</td>
            </tr>
            <tr>
                <th>Результат работы</th>
                <td>{{ issue.result }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        {% if not(is_granted('ROLE_ADMIN')) and issue.status == 1%}
            <form action="{{ path('take_to_work', {'id': issue.id}) }}" method="post">
                <input type="submit" value="Взять заявку в работу">
            </form>
        {% endif %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            {{ include('issue/_delete_form.html.twig') }}
        </div>
    {% endif %}

{% endblock %}