{% extends 'base.html.twig' %}

{% block title %}Система управления заявками - Реестр заявок{% endblock %}

{% block body %}

    {% embed "@KilikTable/_defaultTable.html.twig" with {"table": table} %}
        {% block tableTitle %}
            <b>Журнал изменения статусов</b>
            <div class="navbar navbar-right">
                <a href="{{ path("homepage") }}"><span class="glyphicon glyphicon-home"></span>&#160;</a>
            </div>
        {% endblock tableTitle %}
    {% endembed %}

{% endblock body %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTable("{{ table.id }}", "{{ table.path }}");
            table.init();
        });
    </script>

{% endblock javascript %}